@using EntityEquity.Components

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Build properties, build equity, with Entity Equity.</p>
</div>
