html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.root-section {
    margin: 10px;
}

.prop-offering {
    margin:10px;
}
.prop-offering input {
    text-align: center;
    width: 100px;
}