html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.site-title {
    font-weight:normal;
    font-size:1.2rem;
}
.root-section {
    margin: 10px;
}

.prop-offering {
    margin:10px;
}
.prop-offering input {
    text-align: center;
    width: 100px;
}

.property-tile {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 4px 7px 7px 7px;
    margin: 8px;
}

.property-tile .name {
    font-size: 1rem;
    font-weight: bold;
}
.hide {
    display:none;
}
.offering-panel-offering {
    margin-right: 15px;
}
.offering-panel-image-container {
    height:200px;
}
.offering-panel-image {
    width: 250px;
    height: 200px;
}
.no-image {
    background-color: lightgray;
    margin:auto;
    text-align:center;
    padding:85px 0px;
    font-size: 20px;
}
.panel-section-title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}