<h3>ShippingFormModal</h3>

<div style="text-align:center;font-size:1rem;">
                Shipping Address
            </div>
            <div class="row">
                <label for="paymentInformationShippingSameAsBillingCheck" class="col-md-4">Same As Billing</label>
                <input id="paymentInformationShippingSameAsBillingCheck" class="col-md-8" />
            </div>
            <div class="row">
                <label for="paymentInformationShippingFirstNameText" class="col-md-4">First Name</label>
                <input id="paymentInformationShippingFirstNameText" class="col-md-8" />
            </div>
            <div class="row">
                <label for="paymentInformationShippingLastNameText" class="col-md-4">Last Name</label>
                <input id="paymentInformationShippingLastNameText" class="col-md-8" />
            </div>
            <div class="row">
                <label for="paymentInformationShippingAddressText" class="col-md-4">Address</label>
                <input id="paymentInformationShippingAddressText" class="col-md-8" />
            </div>
            <div class="row">
                <label for="paymentInformationShippingCityText" class="col-md-4">City</label>
                <input id="paymentInformationShippingCityText" class="col-md-8" />
            </div>
            <div class="row">
                <label for="paymentInformationShippingZipCodeText" class="col-md-4">ZIP Code</label>
                <input id="paymentInformationShippingZipCodeText" class="col-md-8" />
            </div>

@code {

}
