@page "/prop/{slug}"
@model EntityEquity.Pages.PropIndexModel
@{
    Layout = "_LayoutProp";
}
@using EntityEquity.Components
@using EntityEquity.Data
@using static EntityEquity.Pages.PropIndexModel
@{
    var cookie = HttpContext.Request.Cookies[".AspNetCore.Identity.Application"];
}
<div style="display:flex;flex-wrap:wrap">
<div style="display:flex;flex-wrap:wrap;min-width:250px;width:calc(100% - 300px);">
    @(await Html.RenderComponentAsync(typeof(PropOfferings), RenderMode.ServerPrerendered, new { Cookie = cookie, PropertyId = Model.Property.PropertyId }))
</div>
<div style="width:300px;">
    @(await Html.RenderComponentAsync(typeof(BrowsingCart), RenderMode.ServerPrerendered, new { Cookie = cookie }))
</div>
</div>
