@page "/prop/{slug}"
@model EntityEquity.Pages.PropIndexModel
@{
    Layout = "_LayoutProp";
}
@using EntityEquity.Components
@using EntityEquity.Data
@using static EntityEquity.Pages.PropIndexModel
@{
    var cookie = HttpContext.Request.Cookies[".AspNetCore.Identity.Application"];
}
<div style="display:flex;flex-wrap:wrap">
@foreach (OfferingWithOrderItem offering in Model.Offerings)
{
    @(await Html.RenderComponentAsync(typeof(PropOffering), RenderMode.ServerPrerendered, new { Offering = offering, Cookie = cookie }))
}
</div>